<div class="black">
  <div class="container-fluid px-0">
    <video id="video" style="width: 100%" autoplay [muted]="'muted'" loop>
      <source src="./../../assets/videos/Ocean.mp4" type="video/mp4" />
    </video>
  </div>
</div>

<div class="ocean-img">
  <div class="container-fluid">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="./../../assets/images/fish.png" alt="" class="fish-img" />
        </div>
        <div class="col-md-4">
          <img src="./../../assets/images/fish2.png" alt="" class="fish-img" />
        </div>
        <div class="col-md-4">
          <img src="./../../assets/images/fish3.png" alt="" class="fish-img" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="black">
  <div class="container-fluid padding">
    <div class="d-flex flex-column">
      <div class="text-center stack" style="--index: 3">
        <span style="--index: 0">Welcome To Ocean Kitchen</span>
        <span style="--index: 1">Welcome To Ocean Kitchen</span>
        <span style="--index: 2">Welcome To Ocean Kitchen</span>
      </div>
    </div>
    <img
      src="./../../assets/images/cooked-fish-img.jpg"
      class="fish-img mx-auto d-block img-fluid"
      alt=""
    />
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <img
            src="./../../assets/images/Law-Logo.png"
            class="law-logo-img img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-3 text-center">
          <h3 class="rating">9/10</h3>
          <p class="text-white">Rating of the restaurant</p>
        </div>
        <div class="col-md-3 text-center">
          <h3 class="rating">700+</h3>
          <p class="text-white">More than 700 guests per day</p>
        </div>
        <div class="col-md-3 text-center">
          <img
            src="./../../assets/images/Law-Logo.png"
            class="law-logo-img img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="black">
  <div class="container">
    <div class="row px-5 pb-2">
      <div class="col-md-6">
        <div>
          <img src="./../../assets/images/fish4.png" class="mw-100" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <h2 class="text-white">Ocean Kitchen</h2>
        </div>
        <div class="m-0">
          <h2 class="font-style">OceanKitchen Fish Cutting Specialist</h2>
        </div>
        <div class="mt-2">
          <a [href]="['/order']" class="order-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Order Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="black">
  <div class="container-fluid">
    <div class="padding">
      <h1 class="text-white">Ocean Kitchen</h1>
      <h1 class="font-style">Featured Products</h1>
    </div>
  </div>

  <div class="black">
    <div class="container">
      <div class="row pt-3 text-center">
        <div class="col-md-3">
          <img
            src="./../../assets/images/raw-fish.jpg"
            class="product-images"
            alt=""
          />
          <div>
            <h3 class="mb-2 product-font">Premium Raw Fish</h3>
          </div>
          <div>
            <p class="text-white">Fresh fish with ocean flavor</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-white">€8.00/Eur</p>
            </div>
            <div class="col-md-6">
              <a [routerLink]="['/order/create']"> Buy Now </a>
            </div>
          </div>
          <div></div>
        </div>
        <div class="col-md-3">
          <img
            src="./../../assets/images/big-piece-of-raw-fish.jpg"
            class="product-images"
            alt=""
          />
          <div>
            <h3 class="mb-2 product-font">Premium Raw Fish</h3>
          </div>
          <div>
            <p class="text-white">Fresh fish with ocean flavor</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-white">€8.00/Eur</p>
            </div>
            <div class="col-md-6">
              <a [routerLink]="['/order/create']"> Buy Now </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img
            src="./../../assets/images/Fresh-sashimi-GettyImages.jpg"
            class="product-images"
            alt=""
          />
          <div>
            <h3 class="mb-2 product-font">Premium Raw Fish</h3>
          </div>
          <div>
            <p class="text-white">Fresh fish with ocean flavor</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-white">€8.00/Eur</p>
            </div>
            <div class="col-md-6">
              <a [routerLink]="['/order/create']"> Buy Now </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img
            src="./../../assets/images/raw-tuna-steaks-on-the-table.jpg"
            class="product-images"
            alt=""
          />
          <div>
            <h3 class="mb-2 product-font">Premium Raw Fish</h3>
          </div>
          <div>
            <p class="text-white">Fresh fish with ocean flavor</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="text-white">€8.00/Eur</p>
            </div>
            <div class="col-md-6">
              <a [routerLink]="['/order/create']"> Buy Now </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div> -->
